body{
  margin: 0;
}
header{
  background-color: black;
  color: white;
  /*height: 50px;*/
}
header h4 {
  padding: 10px;
}

input[type=checkbox], input[type=time] {
  margin: 3px;
}

.config {
  margin-bottom: 40px;
}
.config h5 {
  margin: 10px -20px;
}

.week_0 { color: red; }
.week_6 { color: blue; }

/*#input {
  margin: 30px auto;
}
#standard, #option {
  margin-top: 10px;
  margin-bottom: 30px;
}
#calc {
  margin-top: 30px;
}*/
