body{
  margin: 0;
  /*background-color: #effdff;*/
}
header{
  /*background-color: black;*/
  color: black;
  text-align: center;
  border-bottom: 1px solid #c0dee0;
  /*height: 50px;*/
}
header h4 {
  padding: 10px;
  margin: 0px;
}

h6 {
  color: #1EAEDB;
  margin: 10px 0px;
}

input[type=checkbox], input[type=time] {
  margin: 3px;
}

#content {
  background-color: white;
  padding: 50px
}

.config {
  margin-bottom: 40px;
}
h5 {
/*.config h5 {*/
  /*margin: 10px -20px;*/
}
#result {
  height: 50px;
  font-size: 20px;
}
.result {
  color: #019357;
}
.week_0 { color: #fc7667; }
.week_6 { color: #4666c9; }

/*#input {
  margin: 30px auto;
}
#standard, #option {
  margin-top: 10px;
  margin-bottom: 30px;
}
#calc {
  margin-top: 30px;
}*/
